// Scss Document
// ======== General styling ======== */
body {
	padding-top: 0;
	margin-top: 0;
	font-family: $font;
	color: $secondary;
}

.small {
	font-size: 0.8em;
}

// ======== Header styling ======== */
#header {
	text-align: center;
	background: $primary;
	color: #FFF;
	width: 100%;
}

.left {
	float: left;
}

.right {
	float: right;
}

.header-link {
	a:link,
	a:visited {
		color: #FFF;
		font-size: smaller;
		text-decoration: none;
	}
	
	a:hover {
		text-decoration: underline;
	}
}

// ======== Forms styling ======== */
input[type=radio] {
   display: none;
}

input[type="radio"] + label {
	background: $secondary;
	color: #FFF;
}

input[type="radio"]:checked + label {
	background: $primary;
}

input[type=text],
textarea {
	border: 1.5px solid $primary;
}

input[type="submit"] {
	background: $primary;
	color: #FFF;
	font-family: $font;
	border: 0;
	display: block;
	font-size: inherit;
}

option {
	color: $primary;
}

select {
	color: $primary;
	font-family: $font;
}


// ======== leaders styling ======== */
a:link,
a:visited {
	color: $primary;
	text-decoration: none;
}

a:hover {
	text-decoration:underline;
}

// ======== Event styling ======== */
#modDays {
	background-color: $primary;
	display: inline-block;
	padding: 0.5em;
	color: #FFF;
	a:link,
	a:visited {
		color: #FFF;
	}
	margin-top: 1em;
}