// Scss Document

// ======== Header styling ======== */
#header {
	font-size: 2em;
	padding: 1em 0 1em 0;
}

.header-link {
	padding: 0 2em;
}


// ======== Forms styling ======== */
input[type="radio"] + label {
	padding: 0.5em;
	margin-right: 0.5em;
}

input[type="radio"]:checked + label {
	padding: 0.65em;
}

input[type="submit"] {
	padding: 0.65em 2em;
	margin-top: 1em;
	width: 15%;
}

input[type="text"] {
	width: 35%;
}

select {
	margin-left: 1em;
}

.info {
	width:25%
}

.infoSmall {
	width:15%
}

#description {
	width:35%;
	height:7em
}

#uniform,
#metaTitle,
#metaDesc {
	height:4em
}

textarea {
	width:35%;
	height:5em;
}

// ======== Footer styling ======== */
#footer {
	text-align: center;
}