// Scss Document

// ======== Header styling ======== */
#header {
	font-size: 1em;
	padding: 1em 0 1em 0;
}

.header-link {
	padding: 0 2em;
}

// ======== Forms styling ======== */
input[type="radio"] + label {
	display: block;
	width: 80%;
	padding: 1em;
	margin: 1em;
}

input[type="radio"]:checked + label {
	padding: 1.25em;
}

input[type="submit"] {
	padding: 1em 2em;
	margin-top: 1em;
	width: 80%;
	margin-left: 1em;
}

input[type=text],
textarea {
	margin-left: 1em;
}

input[type=text] {
	width: 80%;
}

textarea {
	width: 80%;
}

#description,
#uniform,
#metaTitle,
#metaDesc {
	height:6em
}