// Scss Document

// ======== Header styling ======== */
#header {
	font-size: 1.25em;
	padding: 1em 0 1em 0;
}

.header-link {
	padding: 0 1em;
}

// ======== Forms styling ======== */
input[type="radio"] + label {
	display: inline-block;
	padding: 1em;
	margin-right: 1em;
	width: auto;
}

input[type="radio"]:checked + label {
	padding: 1.25em;
}

input[type="submit"] {
	padding: 1em 2em;
	margin-top: 1em;
	width: 20%;
}

#description {
	width:80%;
	height:9em
}

input[type=text] {
	width: 60%;
}

textarea {
	width: 70%;
}

// ======== Footer styling ======== */
#footer {
	font-size: 1em;
}