/*Main stylesheet for editor*/

$primary: #84a40b; //Scout green
$secondary: #4d2177; //Scout purple

$break-tablet: 650px; //min width of tablet devices
$break-desktop: 1125px; //min width of desktop devices

$font: 'Comfortaa', cursive, sans-serif;

@import 'default';

@import 'mobile';

@media only screen and (min-width: $break-tablet){
	
	@import 'tablet';
	
}

@media only screen and (min-width: $break-desktop){
	
	@import 'desktop';

}